.toast-message {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 380px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    opacity: 1;
    animation: fadeOut 5s forwards;
    transition: transform 5s;

    .icon {
        font-size: 26px;
        margin: 0 20px;
    }

    .content {
        flex: 1;
        text-align: left;

        .title {
            font-size: 20px;
            font-weight: 600;

            margin-bottom: 4px;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        90% {
            opacity: 0;
            transform: translateX(50px);
        }

        100% {
            opacity: 0;
            transform: translateX(100px);
        }
    }
}