.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// css
@for $i from 0 through 100 {

    .fs-cs-#{$i} {
      font-size: #{$i}px !important;
  
      * {
        font-size: #{$i}px !important;
      }
    }
  
    .border-radius-#{$i} {
      border-radius: #{$i}px !important;
    }
  
    .mg-t-#{$i} {
      margin-top: #{$i}px !important;
    }
  
    .mg-b-#{$i} {
      margin-bottom: #{$i}px !important;
    }
  
    .mg-l-#{$i} {
      margin-left: #{$i}px !important;
    }
  
    .mg-r-#{$i} {
      margin-right: #{$i}px !important;
    }
  
    .mg-tb-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
  
    .mg-lr-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
  
    .pd-#{$i} {
      padding: #{$i}px !important;
    }
  
    .pd-t-#{$i} {
      padding-top: #{$i}px !important;
    }
  
    .pd-b-#{$i} {
      padding-bottom: #{$i}px !important;
    }
  
    .pd-l-#{$i} {
      padding-left: #{$i}px !important;
    }
  
    .pd-r-#{$i} {
      padding-right: #{$i}px !important;
    }
  
    .pd-tb-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
  
    .pd-lr-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
  
    .mg-#{$i} {
      margin: #{$i}px !important;
    }
  
    .flex-gap-#{$i} {
      gap: #{$i}px !important;
    }
  }